/* General app container */
.app-container {
  display: flex;
  min-height: 100vh;
}

/* Main content styling */
.main-content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 300px; /* Adjust to the width of the sidebar */
}

@media (max-width: 1024px) {
  .main-content {
    margin-left: 0; /* Remove margin when sidebar is hidden */
    width: 100%; /* Take full width when sidebar is hidden */
  }
}

/* Optional: styles for specific components */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
