.dashboard {
    padding: 20px;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .card {
    flex: 1;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    text-align: center;
  }
  
  .card:last-child {
    margin-right: 0;
  }
  
  .charts {
    display: flex;
    justify-content: space-between;
  }
  
  .pie-charts-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .pie-chart {
    flex: 1;
    margin: 0 10px;
  }
  
  .pie-chart h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  