.sidebar {
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.sidebar-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav {
  flex-grow:1;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.nav-link.active {
  background-color: #e0f7fa;
}

/* Navbar.css */

.add-button-container {
  background-color: #00b894;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

.add-button-container p {
  margin-bottom: 15px;
}

.add-button {
  background-color: white;
  color: #2d3436;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.add-button:hover {
  background-color: #dfe6e9;
}
.nav-link {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-link.active {
  color: #00b894;
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 5px 10px;
}

.nav-link:hover {
  color: #00b894;
}



.logout-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}