/* General Styles */
.students-container {
  margin-bottom: 20px;
}

.students-table {
  width: 100%;
  border-collapse: collapse;
}

.students-title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.students-table thead th,
.students-table tbody td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: center;
}

.students-table thead th {
  background-color: #f8f9fa;
}

.students-table tbody tr:hover {
  background-color: #f1f1f1;
}

.students-table tbody td {
  background-color: white;
  vertical-align: middle;
}

.add-student-button {
  text-align: center;
  margin-top: 20px;
}

.add-student-button button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-student-info {
  margin-top: 10px;
  color: #666;
}

.edit-icon,
.payment-icon,
.history-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.students-table-container {
  margin-top: 20px;
}

.modal-header .btn-link {
  background: none;
  border: none;
  cursor: pointer;
}

.hidden-button {
  display: none !important;
}

/* Form Field Styles */
form .form-group {
  margin-bottom: 15px;
}

form .form-group label {
  font-weight: bold;
}

form .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

form .form-group input[readonly] {
  background-color: #e9ecef;
  cursor: not-allowed;
}

/* Unified Button Styles for Modals */
.add-student-button,
.payment-student-button,
.edit-student-button {
  background-color: #00b894;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 150px; /* Set a unified width */
  margin-right: 10px; /* Space between buttons */
}

.add-student-button:hover,
.payment-student-button:hover,
.edit-student-button:hover {
  background-color: #009974; 
}

.cancel-button-students {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 10px 20px; /* Adjust padding for consistent height */
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; /* Consistent font size */
  width: 150px; /* Same width as the other buttons */
  margin-right: 10px !important; /* Space between the last button */
}

.cancel-button-students:hover {
  background-color: #b3b3b3; 
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px; 
  flex-wrap: nowrap; /* Αλλάξε αυτό από "wrap" σε "nowrap" για να αποφύγεις την περιτύλιξη */
}

.modal-content {
  max-width: 500px; 
  margin: 0 auto; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-history-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; 
  text-align: center; 
}

.payment-history-list li {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.payment-history-modal .modal-actions {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.previous-button,
.next-button {
  width: 50px;           
  height: 40px;         
  display: flex;        
  justify-content: center;
  align-items: center;
  border-radius: 5px;    
  background-color: white; 
  color: gray;          
  border: none;          
  cursor: pointer;       
  font-size: 16px;       
}

.previous-button:hover,
.next-button:hover {
  background-color: white; 
  color: gray; 
}

.close-button {
  background-color: transparent;
  border: none;
  color: gray; 
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  color: gray; 
  background-color: transparent;
}

/* Responsive Styles */
@media (max-width: 1400px) {
  .students-table thead th:nth-child(3), /* Κρύψε τις στήλες εκτός από τις πρώτες δύο και την τελευταία */
  .students-table thead th:nth-child(4), 
  .students-table thead th:nth-child(5), 
  .students-table thead th:nth-child(6),
  .students-table tbody td:nth-child(3),
  .students-table tbody td:nth-child(4),
  .students-table tbody td:nth-child(5),
  .students-table tbody td:nth-child(6) {
    display: none;
  }

  .students-table thead th:nth-child(1),
  .students-table thead th:nth-child(2),
  .students-table thead th:nth-child(7),
  .students-table tbody td:nth-child(1),
  .students-table tbody td:nth-child(2),
  .students-table tbody td:nth-child(7) {
    width: auto;
  }

  .students-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}
